<form action="/" method="POST" class="d-flex flex-column align-items-center align-self-stretch mb-3">
  <input class="p-2 mb-3 bg-light rounded-lg border-light align-self-center" type="url" name="fullUrl"
    placeholder="input URL here" id="inPutUrl" required>
  <button type="submit" class="btn btn-outline-primary" id="shorten-btn">Shorten</button>
</form>

{{#if UrlNotValid}}
<h5 class="text-danger">Url is not valid. Please try another.</h5>
{{/if}}